@font-face {
    font-family: sawtonbauhaus-bold;
    src: url(asset/font/sawtonbauhaus-bold.woff2);
}

@font-face {
    font-family: sawtonindustrial-light;
    src: url(asset/font/sawtonindustrial-light.woff2);
}

:root {
    --main-color: black;
    --secondry-color: white;
    --font-1: sawtonbauhaus-bold;
    --font-2: sawtonindustrial-light;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* cursor: none; */
    background-color: var(--main-color);
    color: var(--secondry-color);
    font-family: var(--font-2);
    margin: 0;
}

.cursor {
    pointer-events: none;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
    mix-blend-mode: difference;
    z-index: 9999;
}

.cursor__invert {
    pointer-events: none;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    background-color: #fff;
}



header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-top-flex {
    display: flex;
    flex: 1;
}

.social__nav {
    flex: 0;
    margin:2vh 2vw ;
}

.social__nav ul {
    /* padding: 60px 0px; */
    /* margin: 0; */
    height: 100%;
    padding: 0;
    margin: 0;
    /* flex-basis: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.social__nav li {
    /* flex: 1; */
    font-size: 1.5rem;
}

.social__nav svg {
    fill: var(--secondry-color);
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px auto;
}

.hero__logo {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-flex-wrapper {
    display: flex;
    align-items: center;
}

.logo__circle--big {
    justify-self: start;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: var(--secondry-color);
}

.logo__circle--small {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--secondry-color);
}


.logo__text {
    text-transform: uppercase;
    font-size: 3rem;
    display: flex;
}

.logo__text > * {
    margin: 0px 10px;
}

@media (max-width:700px) {
    .hero-flex-wrapper {
        flex-direction: column;
    }
    .logo__text {
        order: 1;
        margin: 3vh 0px;
    }
}

.center-strip {
    display: flex;
    width: 100%;
    align-items: center;
    left: 0px;  
    bottom: 0px;
    padding: 1rem 0px;
    justify-content: space-around;
}

.develop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0px;
    left: 0px;
    bottom: 0px;
    opacity: 1;
}

.website-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0px;
    left: 0px;
    bottom: 0px;
    opacity: 1;
}

.architecture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0px;
    left: 0px;
    bottom: 0px;
    opacity: 1;
}

.digital-marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0px;
    left: 0px;
    bottom: 0px;
    opacity: 1;
}

.center-strip-img {
    margin: 10px;
    width: 40px;
    height: 40px;
}

.center-strip-span {
    font-size: 13px;
}


.meet-alien {
    height: 100vh;
    padding: 10vh 1vw;
    display: flex;
}



.meet-alien > *  {
    flex-basis: 50%;
}

.meet-alien .profiles {
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

.meet-alien .profiles  .profile-picture {
    width: calc(33.333% - 10px ) ;
    position: relative;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.meet-alien .profiles  .profile-picture .name {
    display: none;
}

.meet-alien .profiles  .profile-picture .position {
    display: none;
}

.meet-alien .profiles  .profile-picture img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.meet-alien .text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1vw;
}

.meet-alien .text .header {
    margin: 1vw;
    text-transform: capitalize;
    font-size: 4rem;
}

.meet-alien .text .describ {
    flex: 1;

    font-size: 1.2rem;
    margin: 1vw;
}

.meet-alien .text .describ::first-letter {
    text-transform: uppercase;
    font-size: 2rem;
}

@media (max-width:800px) {
    .meet-alien {
        height: auto;
        flex-direction: column;
    }

    .meet-alien .profiles {
        order: 2;
        align-content: center;
    }

    .meet-alien .profiles{
        padding: 0px 10vw;
        padding-bottom: 100px;
    }

    .meet-alien .text { 
        margin-bottom: 5vh;
        order: 1;
    }
    
    .meet-alien .text .describ{
        padding-right: 10vw;
    }
    .meet-alien > *  {
        flex-basis: auto;
    }
}